#upload-layout {
    width: 50%;
    float: left;
}

#upload-image-box {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#upload-image {
    width: 300px;
}

#output-image-prediction {
    width: 50%;
    float: right;
}

#prediction-image {
    border: 5px solid #000000;
    max-width: 300px;
    max-height: 300px;
}